/* Add styles for  truYum application here */
body {
	height : 100%;
	width : 98%;
}
header {
	background-color : #4a5b91;
	color : white;
    height : 100px;
}
div {
	height:500px;
}
footer {
	background-color : #adb3af;
	height : 100px;
}
img {
	height : 50px;
	width : 50px;
}


#menu {
	float : right;
	margin-right : 10px;
	margin-top : 20px;
	color : white;
	
}
#cart {
    float : right;
	margin-top : 20px;	
    margin-right : 10px;
	color : white;
}

.cont {
	margin-left : 10px;
}

.btn {
     text-align : right;
}
p{
	color : green;
}
.main {
	margin-left : 100;
}
.move {
	margin-left : 200px;
}
.name {
	width : 100;
	text-align : left;
}
.fd {
	width : 100;
	text-align : right;
}
.pr {
	width : 100;
	text-align : right;
}
.ca {
	width : 150;
	text-align : right;
}
.ac {
	width : 100;
	text-align : right;
}
.cart {
	margin-left : 100;
}
.free {
	width : 100;
	text-align : left;
}
.option {
	color : #adb3af;
}